<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  routerLink="/listapessoa">
        <ion-icon name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro de pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner>

<ion-content class="ion-padding">
  <!--
  <ion-input labelPlacement="floating" label="Nome" [(ngModel)]="nome" class="form-control my-3" placeholder="Nome" maxlength="50"></ion-input>
  <ion-input type="password" labelPlacement="floating" label="Nova senha" [(ngModel)]="senha" class="form-control my-3" placeholder="Nova senha" maxlength="10"></ion-input>
  <ion-input type="password" labelPlacement="floating" label="Repita nova senha"  [(ngModel)]="senhaRepetir" class="form-control my-3" placeholder="Nova senha" maxlength="10"></ion-input>
  -->

  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Foto</ion-card-title>
    </ion-card-header>
    <div *ngIf="imagem">
      <div>
        <img class="foto" [src]="imagem" alt="Foto">
      </div>
    </div>    
    <ion-card-content>
      <ion-button (click)="compressFile()">
        Selecionar foto
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input type="number" labelPlacement="floating" label="CPF" class="form-control my-3" placeholder="cpf" 
          [(ngModel)]="Pessoa.cpf"
          maxlength="11"
          helperText="Campo requerido"
          errorText="CPF inválido!"
          [clearInput]="true"></ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input labelPlacement="floating" label="Nome" class="form-control my-3" placeholder="nome" 
          [(ngModel)]="Pessoa.nome"
          maxlength="150"
          helperText="Campo requerido"
          errorText="Nome inválido!"
          [clearInput]="true"></ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input labelPlacement="floating" label="Apelido" class="form-control my-3" placeholder="apelido" 
          [(ngModel)]="Pessoa.apelido"
          maxlength="100"
          [clearInput]="true">
        </ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-item>
          <ion-input id="date" labelPlacement="floating" label="Nascimento" class="form-control my-3" placeholder="nascimento" [(ngModel)]="Pessoa.nascimento"></ion-input>  
          <ion-popover trigger="date" size="cover">
            <ng-template>
              <ion-datetime
                presentation="date"
                [(ngModel)]="Pessoa.nascimento"
                locale="pt-BR"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>        
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input labelPlacement="floating" label="Fone" class="form-control my-3" placeholder="fone" 
          [(ngModel)]="Pessoa.fone01"
          maxlength="20"
          [clearInput]="true">
        </ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input labelPlacement="floating" label="Fone recado" class="form-control my-3" placeholder="fone recado" 
          [(ngModel)]="Pessoa.fone02"
          maxlength="20"
          [clearInput]="true">
        </ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input labelPlacement="floating" label="Fone obs" class="form-control my-3" placeholder="obs/nome recado" 
          [(ngModel)]="Pessoa.fone02obs"
          maxlength="200"
          [clearInput]="true">
        </ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <ion-input type="email" labelPlacement="floating" label="Email" class="form-control my-3" placeholder="email" 
          [(ngModel)]="Pessoa.email"
          maxlength="150"
          helperText="Campo requerido"
          errorText="Email inválido!"
          [clearInput]="true"
          email>
        </ion-input>  
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
        <fieldset>
          <legend>Tipo de pessoa</legend>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tipoadm">Administrador</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tipofun">Funcionário</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tipocui">Cuidador</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tipopac">Paciente</ion-checkbox>
        </fieldset> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="primary" expand="block" (click)="salvar()">
        <span *ngIf="novo">Salvar</span>
        <span *ngIf="!novo">Atualizar</span>
      </ion-button>
      <ion-button color="primary" expand="block" (click)="retornar()">
        Retornar
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

