<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"  (click)="campeonatos()">
      <ion-icon name="arrow-back"> </ion-icon>
    </ion-buttons>
    <ion-title>Adicionar campeonato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner>

<ion-content class="ion-padding">
  <ion-input labelPlacement="floating" label="Digite o título" [(ngModel)]="TreTitulo" class="form-control my-3" placeholder="Título"></ion-input>
  <ion-item>
    <ion-label position="stacked">Data do campeonato</ion-label>
    <ion-datetime [(ngModel)]="myDate" 
      presentation="date"
    ></ion-datetime>
  </ion-item>
  <ion-input labelPlacement="floating" label="Digite a observação"  [(ngModel)]="TreObs" class="form-control my-3" placeholder="Observação"></ion-input>
  <ion-input labelPlacement="floating" label="Digite o responsável"  [(ngModel)]="TreResponsavel" class="form-control my-3" placeholder="Responável"></ion-input>
  
  <ion-button color="primary" expand="block" (click)="cadastrar()">
    Salvar
  </ion-button>
</ion-content>

