<ion-content class="ion-padding animated fadeIn login auth-page">
  
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
          <ion-img class="img-login center" src="../../assets/images/logo.png"></ion-img>     
       </h4>
    </div>

    <ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner>
    
    <!-- Login form -->
    <div  class="list-form">
      <div *ngIf="!esqueci">
        <div *ngIf="novo">
          <ion-item lines="none"> 
            <ion-icon size="small" style="padding-right: 10px; color:white;" name="person" item-left></ion-icon>

            <ion-input 
              class="custom"
              labelPlacement="floating"
              placeholder="Digite seu nome"
              label="Nome atleta"
              type="text"
              color="light" 
              [(ngModel)]="nome" 
              maxlength="50"
              [clearInput]="true">
            </ion-input>
            
          </ion-item>             
        </div>
        <ion-item lines="none"> 
          <ion-icon size="small" style="padding-right: 10px; color:white;" name="mail" item-left></ion-icon>
          <ion-input 
            class="custom"
            labelPlacement="floating"
            placeholder="Digite e-mail"
            label="Email"
            type="email"
            color="light" 
            [(ngModel)]="usuario" 
            maxlength="25"
            helperText="Campo requerido"
            errorText="Email inválido!"
            [clearInput]="true"
            email>
          </ion-input>
        </ion-item>
        <ion-item lines="none"> 
          <ion-icon size="small" style="padding-right: 10px; color:white;" name="lock-closed" item-left></ion-icon>
          <ion-input 
            class="custom"
            labelPlacement="floating"
            placeholder="Digite senha numérica"
            label="Senha"
            type="password"
            color="light" 
            [(ngModel)]="senha" 
            maxlength="10"
            helperText="Campo requerido"
            [clearInput]="true">
          </ion-input>
        </ion-item>        
      </div>
      <div *ngIf="esqueci">
        <ion-item lines="none"> 
          <ion-icon size="small" style="padding-right: 10px; color:white;" name="mail" item-left></ion-icon>
          <ion-input 
            class="custom"
            labelPlacement="floating"
            placeholder="Email para envio da senha"
            label="Email"
            type="email"
            color="light" 
            [(ngModel)]="emailSenha" 
            maxlength="25"
            [clearInput]="true"
            helperText="Campo requerido"
            errorText="Email inválido!"            
            email>
          </ion-input>
        </ion-item>          
        <br><br> 
        <div>
          <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="enviarSenha()"  tappable>
            <ion-icon name="send"></ion-icon>
            Enviar
          </ion-button>
        </div>
        <br>
        <div>
          <ion-button icon-left size="small" expand="full" shape="round" color="dark" (click)="signin()"  tappable>
            <ion-icon name="log-in"></ion-icon>
            Login
          </ion-button>
        </div>           
      </div>
      <div *ngIf="novo">
         <ion-item lines="none"> 
          <ion-icon size="small" style="padding-right: 10px; color:white;" name="lock-closed" item-left></ion-icon>
          <ion-input 
            class="custom"
            labelPlacement="floating"
            placeholder="Digite senha numérica"
            label="Repita Senha"
            type="password"
            color="light" 
            [(ngModel)]="senhaRepetir" 
            maxlength="10"
            helperText="Campo requerido"
            [clearInput]="true">
          </ion-input>
        </ion-item>           
      </div>      
    </div>
    <br>
    <div *ngIf="!novo && !esqueci">
      <div>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="login()"  tappable>
          <ion-icon name="log-in"></ion-icon>
          Login
        </ion-button>
      </div>
      <br>
      <div>
        <ion-button icon-left size="small" expand="full" shape="round" color="dark" (click)="signup()"  tappable>
          <ion-icon name="person-add"></ion-icon>
          Novo
        </ion-button>
      </div>
      <div>
        <ion-button icon-left size="small" expand="full" shape="round" color="dark" (click)="esqueciSenha()"  tappable>
          <ion-icon name="help-circle"></ion-icon>
          Esqueci minha senha
        </ion-button>
      </div>
    </div>
    <div *ngIf="novo">
      <div>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="criar()"  tappable>
          <ion-icon name="person-add"></ion-icon>
          Criar
        </ion-button>
      </div>
      <br>
      <div>
        <ion-button icon-left size="small" expand="full" shape="round" color="dark" (click)="signin()"  tappable>
          <ion-icon name="log-in"></ion-icon>
          Login
        </ion-button>
      </div>
    </div>
  </div>
  <div *ngIf="!novo && !esqueci">
    <br><br>
    <div style="text-align: center !important;">
      {{versao}}
    </div>
    <div style="margin-left: 10px; margin-top: 40px; font-size: small;">
      <div>
        <a href="https://sakurarepouso.com.br" target="_blank">Casa de repouso SAKURA</a>
      </div>
      <div>
        <a href="https://www.jknoda.com.br" target="_blank">jknoda</a>
      </div>
    </div>  
  </div>
</ion-content>