<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" color="dark">
    <ion-button color="secondary" slot="start" (click)="campeonato()">
      <ion-icon name="people"></ion-icon>
    </ion-button>
    <ion-button color="secondary" slot="start" (click)="alterarsenha()">
      <ion-icon name="trail-sign"></ion-icon>
    </ion-button>
  </ion-item>>
  <!-- Logo -->
  <div padding-horizontal text-center class="animated fadeInDown">
      <ion-img class="img-folder center" src="../../assets/images/logo.png"></ion-img>     
  </div>
  <div style="text-align: center !important;">
    Bem vindo <strong>{{nome}}</strong>
  </div>
  <br><br>
  <div style="text-align: center !important;">
    {{versao}}
  </div>
  <div style="margin-left: 10px; margin-top: 40px; font-size: small;">
    <div>
      <a href="https://www.yamazakijudo.com.br" target="_blank">yamazaki judo</a>
    </div>
    <div>
      <a href="https://www.jknoda.com.br" target="_blank">jknoda</a>
    </div>
  </div>
</ion-content>