<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"  (click)="campeonatos()">
      <ion-icon name="arrow-back"> </ion-icon>
    </ion-buttons>
    <ion-title>Detalhe do atleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner>

<div style="font-size: small; text-align: center; padding-top: 5px;"><span>{{TreData | date: 'dd/MM/yyyy'}}</span>  - {{TreTitulo}}</div>
<div style="font-size: x-small; text-align: center; padding-top: 5px;"><span>Atleta: {{nome}}</span></div>

<ion-content class="ion-padding">
  <ion-item>
    <ion-select labelPlacement="floating" label="Faixa" interface="action-sheet" placeholder="Faixa" [(ngModel)]="faixaStr">
      <ion-select-option value="10">branca</ion-select-option>
      <ion-select-option value="20">azul</ion-select-option>
      <ion-select-option value="30">amarela</ion-select-option>
      <ion-select-option value="40">laranja</ion-select-option>
      <ion-select-option value="50">verde</ion-select-option>
      <ion-select-option value="60">roxa</ion-select-option>
      <ion-select-option value="70">marrom</ion-select-option>
      <ion-select-option value="80">preta</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select labelPlacement="floating" label="Sua classe" interface="action-sheet" placeholder="Classe" [(ngModel)]="TreCampCab.TreCamClasse">
      <ion-select-option value="SUB9">Sub 9</ion-select-option>
      <ion-select-option value="SUB11">Sub 11</ion-select-option>
      <ion-select-option value="SUB13">Sub 13</ion-select-option>
      <ion-select-option value="SUB15">Sub 15</ion-select-option>
      <ion-select-option value="SUB18">Sub 18</ion-select-option>
      <ion-select-option value="SUB21">Sub 21</ion-select-option>
      <ion-select-option value="SENIOR">Senior</ion-select-option>
      <ion-select-option value="MASTER">Master</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select labelPlacement="floating" label="Classificação" interface="action-sheet" placeholder="Sua classificação" [(ngModel)]="TreCampCab.TreCamClassificacao">
      <ion-select-option value="CAMPEAO">Campeão</ion-select-option>
      <ion-select-option value="VICECAMPEAO">Vice campeão</ion-select-option>
      <ion-select-option value="TERCEIRO">Terceiro</ion-select-option>
      <ion-select-option value="QUINTO">Quinto</ion-select-option>
      <ion-select-option value="SETIMO">Sétimo</ion-select-option>
      <ion-select-option value="00">Nenhuma</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="floating" label="Peso" class="form-control my-3" placeholder="Peso" [(ngModel)]="TreCampCab.TreCamPeso"></ion-input>  
  </ion-item>
  <ion-item>
    <ion-textarea labelPlacement="floating" label="Histórico" class="form-control my-3" placeholder="Histórico do campeonato" [(ngModel)]="TreCampCab.TreCamObs"></ion-textarea >  
  </ion-item>
  <ion-item>
    <ion-button color="primary" expand="block" (click)="salvar()">
      Salvar
    </ion-button>
    <ion-button color="primary" expand="block" (click)="proxima()" *ngIf="modo=='UPD'">
      Próximo
    </ion-button>
  </ion-item>  
</ion-content>