<ion-app>
  <ion-split-pane when="xl" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="show">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-img class="img-login center" src="../../assets/images/minilogo.png"></ion-img>
            {{empresa}}
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">            
            <ion-item routerDirection="root" lines="none" detail="false" *ngIf="p.show && p.title == '-'">
              <hr class="rounded">teste
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" *ngIf="p.show && p.title != '-'">
              <i [class]="p.icon">&nbsp;</i>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>